/* src/pages/LoginPage.css */

/* ------------------------------------- */
/* Definición de la Animación de Fondo (MODO DEBUGGING: Movimiento Extremo) */
/* ------------------------------------- */
/* src/pages/LoginPage.css */

@keyframes backgroundMove {
    0% {
        background-position: 50% 0%;
    }
    100% {
        /* FORZAR EXTREMO: Desplazamiento 4 veces la altura del contenedor */
        background-position:100% 50%;
    }
}

.background-animation {
    /* Mueve la imagen más rápido para probar */
    animation: backgroundMove 5s ease-in-out infinite alternate;
    transition: none !important;

    /* FORZAR TAMAÑO: Hacemos la imagen más grande */
    background-size: 200% auto;
}

/* Estilos de errores si los necesitas (opcional) */
.error-message {
    color: #D84343;
    font-weight: 500;
}